##############################
## Java
##############################
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Visual Studio Code
##############################
Server/.vscode/launch.json
Server/.vscode/tasks.json
Server/bin
Client/bin

Client/.vscode/launch.json
Client/.vscode/tasks.json